@charset "gb2312";

.blog_detail { float: left; width: 740px; overflow: hidden; background: url(../images/r_line.jpg) repeat-y right; margin: 10px 0 }
.c_titile { font-size: 22px; margin: 20px 0; text-align: center }
.box_c { border: #ccc 1px dashed; text-align: center; padding: 5px 0; margin-right: 30px;color: #999;}
.box_c span { margin: 0 10px; }
.box_c span a{color: #099;}
.blog_article {width:720px; overflow: hidden; margin: 20px 40px 20px 0; line-height: 28px; font-size: 14px; text-indent: 2em; }
.blog_article p { margin-bottom: 20px }
.blog_article p img { display: block; margin: auto }
.keybq { background: url(../images/6264.png) no-repeat 10px center #F8F8F8; line-height: 30px; height: 30px; padding-left: 40px; border: 1px solid #F0F0F0; margin-right: 20px; }
.keybq span { color: #099 }
.nextinfo { line-height: 24px; }
.otherlink h2 { border-bottom: #099 2px solid; line-height: 40px; font-size: 12px; font-weight: normal; margin-right: 20px; background:url(../images/5794.png) 10px center no-repeat; padding-left:40px}
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; }
.otherlink li a:hover{ text-decoration:underline}
.left{background: url(../images/r_line.jpg) repeat-y right;}
.bdshare_t { margin: 20px 0 }
.ad { width: 100%; margin: 10px auto; }
.comments{width: 720px;margin-top: 20px;}
.commentsTitle{font-size: 20px}
.commentsTitleLine{width: 100%; height:2px; background-color: #4ad6f9}
.comment{width: 710px; background: #fff9e7; border-radius: 20px;border:0;margin-top: 10px;padding:5px}
.comment_title{margin-bottom: 5px;}
.comment_name{font-size: 15px;}
.comment_time{font-size: 13px;}
.comment_index{float: right;}
.comment_content{margin-top: 5px;}
.noComment{width: 100%; text-align: center;margin: 5px auto;}
#submit{background-color: #4ad6f9; border-radius: 5px; border: solid 1px #4ad6f9; width: 50px; height: 30px; color: white; float: right; margin: 10px;}
#submit:HOVER {background-color: #30a0f9;border: solid 1px #30a0f9;}
.mask{width: 715px; height: 140px; background-color: #eee; opacity: 0.5;position: absolute; z-index: 1;text-align: center; font-size: 14px}
.mask a{margin-top: 20px}
.my_comment{width: 715px; height: 150px; clear: both; position: absolute;}
#comment_input{width: 715px; height: 100px; overflow: auto; }