@CHARSET "UTF-8";
.floor{float: right}
.leave_word{width: 100%; margin-top: 10px;font-size:13px; padding: 10px; clear: both;border-bottom: dashed 1px #eee}
.leave_word_info{position: relative;float:left;border-top-left-radius: 15px; border-top-right-radius:50px; border-bottom-left-radius:50px;border-bottom-right-radius:15px;background-color: #4ad6f9; padding: 15px;text-align: center}
.leave_word_content{margin-left: 180px;height:100%; font-size: 13px}
.user_name{font-size: 15px;}
.floor{position: absolute;top:0;right:0}
.mask{width: 715px; height: 140px; background-color: #eee; opacity: 0.5;position: absolute; z-index: 1;text-align: center; font-size: 14px}
.mask a{margin-top: 20px}
.my_leaveword{width: 715px; height: 150px; clear: both; position: absolute;}
#leaveword_input{width: 715px; height: 100px; overflow: auto; }
#submit{background-color: #4ad6f9; border-radius: 5px; border: solid 1px #4ad6f9; width: 50px; height: 30px; color: white; float: right; margin: 10px;}
#submit:HOVER {background-color: #30a0f9;border: solid 1px #30a0f9;}